<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<httpserver>
		<addr>0.0.0.0</addr>
		<port>9000</port>
		<pool>4</pool>
		<token></token>
	</httpserver>
	
	<memcache>
		<addr>10.66.1.122:1599</addr>
		<timeout>1000</timeout>
	</memcache>
	
	<redis>
		<addr>127.0.0.1</addr>
		<port>6379</port>
	</redis>
</config>
